<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script>
      var lastLendingSyncTime = new Date("{{.LastLendingSyncTime}}");
      var lastTradeSyncTime = new Date("{{.LastTradeSyncTime}}");
      var lastBalanceSyncTime = new Date("{{.LastBalanceSyncTime}}");
    </script>

    <h1>Project Kanae</h1>

    <h2>Trade</h2>
    <span>last trade updated at : {{ .LastTradeSyncTime}}</span>

    <h2>Lending</h2>
    <span>last lending updated at : {{ .LastLendingSyncTime }}</span>


    <h2>Balance</h2>
    <span>last balance updated at : {{ .LastBalanceSyncTime}}</span>


    <h2>Summary</h2>

    <h2>Action</h2>
    <button type="button" class="btn-sync-trade">sync trade</button>
    <button type="button" class="btn-sync-lending">sync lending</button>
    <button type="button" class="btn-sync-balance">sync balance</button>

    <!--<script src="/static/lib/jquery-3.2.1.min.js"></script>-->
    <script src="/static/main.js"></script>
  </body>
</html>

