{{ define "title" }}sync{{ end }}

{{ define "content" }}
<h2>sync</h2>
<h3>trade</h3>
<div>
  <p>last sync time : {{ .Trade.GetLastTime }}</p>
  <button type="button" class="btn-sync-trade">sync trade</button>
</div>

<h3>lending</h3>
<div>
  <p>last sync time : {{ .Lending.GetLastTime }}</p>
  <button type="button" class="btn-sync-lending">sync lending</button>
</div>

<h3>balance</h3>
<div>
  <p>last sync time : {{ .Balance.GetLastTime }}</p>
  <button type="button" class="btn-sync-balance">sync balance</button>
</div>
{{ end }}
