{{ define "title" }}trade{{ end }}

{{ define "content" }}
<h2>trade</h2>

<p>last sync time : {{ .Sync.GetLastTime }}</p>

<ul>
  {{ range .UsedAssets }}
  <li><a href="/trade/{{ . }}">{{ . }}</a></li>
  {{ end }}
</ul>

{{/*
<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>asset</th>
      <th>amount</th>
      <th>total buys</th>
      <th>total sells</th>
      <th>profit/loss</th>
    </tr>
  </thead>
  <tbody>
  {{ range .Reports }}
    <tr>
      <td>{{ .Asset }}</td>
      <td>{{ .CurrentFixedAsset }}</td>
      <td>{{ .TotalBuyAsset }}</td>
      <td>{{ .TotalSellAsset }}</td>
      <td>{{ .FixedProfitLoss }}</td>
    </tr>
  {{ end }}
  </tbody>
</table>
*/}}
{{ end }}
